span {
  input {
    margin-right: 10px;
  }

  button {
    background: lightslategrey;
    border: none;
    border-radius: 4px;
    padding: 3px 6px;
    color: white;
    font-weight: 800;
  }
}

p.error {
  color: red;
}
h4,
h1 {
  color: rgb(71, 69, 69);
}
